#del-countdown{
  width: 850px;
  margin: 2% auto;
}
#clock span{
  float: left;
  text-align: center;
  font-size: 84px;
  margin: 0 2.5%;
  color: #fff;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
  box-sizing: border-box;
}
/*
#clock span:nth-child(1){
  background: #fa5559;
}
#clock span:nth-child(2){
  background: #26c2b9;
}
#clock span:nth-child(3){
  background: #f6bc58;
}
#clock span:nth-child(4){
  background: #2dcb74;
}
*/
#clock span:nth-child(1){
  background: #f6bc58;
}
#clock span:nth-child(2){
  background: #f6bc58;
}
#clock span:nth-child(3){
  background: #f6bc58;
}
#clock span:nth-child(4){
  background: #f6bc58;
}
#clock:after{
  content: "";
  display: block;
  clear: both;
}
#units span{
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
}

span.turn{
  animation: turn 0.7s ease forwards;
}

@keyframes turn{
  0%{transform: rotateX(0deg)}
  100%{transform: rotateX(360deg)}
}

p {
  font-size: 20px;
  text-align: center;
}

a {
  color: blue;
}
hr {
  width: 300px;
  height: 1px;
  background-color: #b7d0e2;
  border-radius: 20px;
}
